li {
  div{
    color: white !important;
  }
  button {
    border-radius: 50% !important;
    color:white !important;
    width: 44px;
    height: 44px !important;
    border-color: gray !important;
  }
  button.Mui-selected {
    color:white !important;
    width: 44px;
    height: 44px !important;
    border-width: 3px !important;
    border-color: #3772FF !important;
  }
}
