.cursor-pointer {
  cursor: pointer;
}

.shadow-1 {
  box-shadow: 0 2px 8px 0 rgba(224,229,238,0.3);
}

.shadow-2 {
  box-shadow: 0 2px 8px 0 rgba(224,229,238,0.9);
}

.shadow-3 {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.line-break-anywhere {
  line-break: anywhere;
}

.object-fit-cover {
  object-fit: cover;
}
