// Colors
$dull-lavender: #A782E9;
$coral: #FF824F;
$gray-coral: #ff824f1a;
$brown-coral: #ff824f33;
$cerulean: #0C9BEC;
$gray-mine-shaft: #21212133;
$mine-shaft: #212121;
$mirage: #1b222e;
$silver-chalice: #AAAAAA;
$opium: #8E7272;
$slate-gray: #6F818F;
$jungle-green: #29b474;
$neutrals1: #141416;
$neutrals2: #23262F;
$neutrals3: #353945;
$neutrals4: #777E90;
$neutrals5: #B1B5C3;
$neutrals6: #E6E8EC;
$neutrals7: #F4F5F6;
$neutrals8: #FCFCFD;

$theme-colors: (
  button: $jungle-green,
  info: $gray-mine-shaft,
  dark: $mine-shaft
);

// Headings
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1;
$font-size-sm: $font-size-base * .955;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$headings-font-weight: 700;
$font-weight-bolder: 500;

// Spacing
$pixel-spacer: 1px !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 500 {
  $spacers: map-merge($spacers, (
    $i: ($i * $pixel-spacer)
  ));
}

// Forms
//$form-group-margin-bottom: 1.25rem;
//$input-padding-x: 1.25rem;
//$input-padding-y: 0.875rem;
//$input-line-height: 1.375rem;
//$input-font-size: 0.875rem;
//$input-border-width: 0;
//$input-height: 40px;
//$input-bg: white;
//$input-placeholder-color: $silver-chalice;
